__pycache__
*.pyc

.git_tmp
.git_temp

download.sh
install.sh

toolkit/training/pretrained_models/Diffusion_Transformer/*
toolkit/training/pretrained_models/Motion_Module/*
toolkit/evaluation/vbench_models.tar.gz
toolkit/evaluation/vbench_models/

input/*

!.gitkeep

data-juicer
Qwen2-0___5B
*.tar
*.zip
*.tar.gz
*.safetensors
*.log
*.out
toolkit/*
output/*